{% if (ghcr_username | default('')) | length > 0 and (ghcr_token | default('')) | length > 0 %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ image_pull_secret_name }}
  namespace: {{ app_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ {'auths': {'ghcr.io': {'username': ghcr_username, 'password': ghcr_token, 'auth': ((ghcr_username ~ ':' ~ ghcr_token) | b64encode)}}} | to_json | b64encode }}
---
{% endif %}
apiVersion: v1
kind: Secret
metadata:
  name: debtsapp-env
  namespace: {{ app_namespace }}
type: Opaque
stringData:
  SPRING_DATASOURCE_PASSWORD: {{ postgres_password | quote }}
  SPRING_NEO4J_AUTHENTICATION_PASSWORD: {{ neo4j_password | quote }}
  JWT_SECRET: {{ jwt_secret | quote }}
  BOT_TOKEN: {{ (bot_token | default('')) | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: debtsapp-env
  namespace: {{ app_namespace }}
data:
  SPRING_DATASOURCE_URL: jdbc:postgresql://debts-bot-db:5432/{{ postgres_database }}
  SPRING_DATASOURCE_USERNAME: {{ postgres_user | quote }}
  SPRING_NEO4J_URI: bolt://debts-neo4j:7687
  SPRING_NEO4J_AUTHENTICATION_USERNAME: {{ neo4j_user | quote }}
  TELEGRAM_BOT_ENABLED: "{{ 'true' if telegram_bot_enabled else 'false' }}"
  BOT_NAME: {{ bot_name | quote }}
  SESSION_TOKEN_LIFETIME: {{ session_token_lifetime | quote }}
  JWT_LIFETIME: {{ jwt_lifetime | quote }}
  LINK_TOKEN_LIFETIME: {{ link_token_lifetime | quote }}
  APP_JWT_ALLOW_GENERATED_SECRET: "false"
  APP_CORS_ALLOWED_ORIGIN_PATTERNS: {{ app_cors_allowed_origin_patterns | join(',') | quote }}
