apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: api-strip
  namespace: {{ app_namespace }}
spec:
  stripPrefix:
    prefixes:
      - /api
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: debtsapp-frontend
  namespace: {{ app_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ app_domain | quote }}
      secretName: debtsapp-tls
  rules:
    - host: {{ app_domain | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: debts-frontend
                port:
                  number: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: debtsapp-api
  namespace: {{ app_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{ app_namespace }}-api-strip@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ app_domain | quote }}
      secretName: debtsapp-tls
  rules:
    - host: {{ app_domain | quote }}
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: debts-bot
                port:
                  number: 8080
