apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: debts-bot-hpa
  namespace: {{ app_namespace }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: debts-bot
  minReplicas: {{ backend_hpa_min_replicas }}
  maxReplicas: {{ backend_hpa_max_replicas }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ backend_hpa_target_cpu_utilization }}
