apiVersion: v1
kind: ConfigMap
metadata:
  name: debtsapp-grafana-dashboard
  namespace: {{ monitoring_namespace }}
  labels:
    grafana_dashboard: "1"
data:
  debtsapp-observability.json: |
{{ lookup('template', playbook_dir + '/../k8s/grafana-dashboard.json.j2') | indent(4, first=True) }}
