grafana:
  adminPassword: {{ grafana_admin_password | quote }}
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
      traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    hosts:
      - {{ grafana_domain | quote }}
    tls:
      - secretName: grafana-tls
        hosts:
          - {{ grafana_domain | quote }}
  sidecar:
    dashboards:
      enabled: true
      searchNamespace: ALL

alertmanager:
  enabled: false

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

kube-state-metrics:
  enabled: true

nodeExporter:
  enabled: true
